/*
 *  SITE WIDE CSS GOES IN HERE
 */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    background-image: url('/static/img/background-texture.png')

}

footer .copyright {
    position: fixed;
    bottom: 10px;
    left: 15px;
}

footer .terms {
    position: fixed;
    bottom: 10px;
    right: 15px;
}

input.form-control {
    border-radius: 2px;
}

button.btn {
    border-radius: 2px;
}

div.panel {
    border-radius: 2px;
}
